@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
font-family: "poppins", sans-serif;
background-color: whitesmoke;

}
.navbar{
    display: flex;
    justify-content: space-between;
background-color: black;
text-align: center;
color: aliceblue;
}
.li{
text-decoration: none;
}
.s{
color: blue;
background-color: blueviolet;
}